In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import plotly.express as px
from plotly.io import write_html
import plotly.graph_objects as go
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio

In [6]:
master = pd.read_csv("master.csv")
indexers_list = ['AR', 'CO', 'CT', 'DC', 'HI', 'IA', 'ID', 'IL', 'KS', 'KY', 'LA', 'MA', 'ME', 'MN', 'MT', 'NC', 'ND', 'NJ', 'NM', 'NV', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TX', 'UT', 'VT', 'WA', 'WV', 'WY']
nonindexers_list = ['AK', 'AL', 'AZ', 'CA', 'DE', 'FL', 'GA', 'IN', 'MD', 'MI', 'MO', 'MS', 'NH', 'NY', 'TN', 'VA', 'WI']

In [8]:
master

,Unnamed: 0,Year,State,Replacement Ratio 1,Replacement Ratio 2,Recipiency Rate,Average WBA,Minimum WBA,Maximum WBA,Average Weekly Wage,...,"Real Maximum WBA (regional, 2000 base)","Real Average WBA (state, 2000 base)","Real Minimum WBA (state, 2000 base)","Real Maximum WBA (state, 2000 base)","Real Average WBA (regional, 2023 base)","Real Minimum WBA (regional, 2023 base)","Real Maximum WBA (regional, 2023 base)","Real Average WBA (state, 2017 base)","Real Minimum WBA (state, 2017 base)","Real Maximum WBA (state, 2017 base)"
0,0,2000,AK,0.308,0.281,0.608800,168.56,44.0,248.0,599.99,...,248.00,168.56,44.0,248.0,312.27,81.51,459.44,256.15,66.86,376.87
1,1,2000,AL,0.434,0.383,0.292086,164.13,45.0,190.0,428.77,...,190.00,164.13,45.0,190.0,290.98,79.78,336.84,239.25,65.60,276.96
2,2,2000,AR,0.523,0.488,0.453458,211.50,55.0,309.0,433.26,...,309.00,211.50,55.0,309.0,374.96,97.51,547.81,274.67,71.43,401.30
3,3,2000,AZ,0.463,0.385,0.205709,176.33,40.0,205.0,458.32,...,205.00,NaN,NaN,NaN,326.67,74.10,379.78,NaN,NaN,NaN
4,4,2000,CA,0.383,0.310,0.409791,163.65,40.0,230.0,528.25,...,230.00,163.65,40.0,230.0,303.18,74.10,426.10,246.90,60.35,347.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1241,1241,2023,VT,0.531,0.476,0.405788,496.00,80.0,668.0,1042.34,...,381.91,NaN,NaN,NaN,496.00,80.00,668.00,NaN,NaN,NaN
1242,1242,2023,WA,0.494,0.436,0.311163,710.91,317.0,999.0,1631.39,...,539.24,NaN,NaN,NaN,710.91,317.00,999.00,NaN,NaN,NaN
1243,1243,2023,WI,0.374,0.325,0.287291,342.65,54.0,370.0,1053.13,...,220.23,NaN,NaN,NaN,342.65,54.00,370.00,NaN,NaN,NaN
1244,1244,2023,WV,0.442,0.419,0.238561,401.43,24.0,630.0,957.72,...,355.36,NaN,NaN,NaN,401.43,24.00,630.00,NaN,NaN,NaN
1245,1245,2023,WY,0.517,0.477,0.209775,465.03,40.0,560.0,974.50,...,302.28,NaN,NaN,NaN,465.03,40.00,560.00,NaN,NaN,NaN

In [9]:
indexers = master[master['State'].isin(indexers_list)]
nonindexers = master[master['State'].isin(nonindexers_list)]

In [10]:
indexers

,Unnamed: 0,Year,State,Replacement Ratio 1,Replacement Ratio 2,Recipiency Rate,Average WBA,Minimum WBA,Maximum WBA,Average Weekly Wage,...,"Real Maximum WBA (regional, 2000 base)","Real Average WBA (state, 2000 base)","Real Minimum WBA (state, 2000 base)","Real Maximum WBA (state, 2000 base)","Real Average WBA (regional, 2023 base)","Real Minimum WBA (regional, 2023 base)","Real Maximum WBA (regional, 2023 base)","Real Average WBA (state, 2017 base)","Real Minimum WBA (state, 2017 base)","Real Maximum WBA (state, 2017 base)"
2,2,2000,AR,0.523,0.488,0.453458,211.50,55.0,309.0,433.26,...,309.00,211.50,55.0,309.0,374.96,97.51,547.81,274.67,71.43,401.30
5,5,2000,CO,0.488,0.437,0.233936,259.02,25.0,337.0,593.11,...,337.00,259.02,25.0,337.0,479.86,46.31,624.33,417.04,40.25,542.59
6,6,2000,CT,0.450,0.415,0.764078,253.09,15.0,362.0,609.17,...,362.00,253.09,15.0,362.0,442.68,26.24,633.17,340.28,20.17,486.70
7,7,2000,DC,0.443,0.392,0.322720,228.91,50.0,309.0,584.42,...,309.00,228.91,50.0,309.0,405.83,88.64,547.81,331.33,72.37,447.26
11,11,2000,HI,0.534,0.458,0.326936,289.41,5.0,364.0,631.39,...,364.00,289.41,5.0,364.0,536.16,9.26,674.35,414.30,7.16,521.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1239,1239,2023,UT,0.490,0.439,0.244257,544.65,41.0,712.0,1241.33,...,384.33,NaN,NaN,NaN,544.65,41.00,712.00,NaN,NaN,NaN
1241,1241,2023,VT,0.531,0.476,0.405788,496.00,80.0,668.0,1042.34,...,381.91,NaN,NaN,NaN,496.00,80.00,668.00,NaN,NaN,NaN
1242,1242,2023,WA,0.494,0.436,0.311163,710.91,317.0,999.0,1631.39,...,539.24,NaN,NaN,NaN,710.91,317.00,999.00,NaN,NaN,NaN
1244,1244,2023,WV,0.442,0.419,0.238561,401.43,24.0,630.0,957.72,...,355.36,NaN,NaN,NaN,401.43,24.00,630.00,NaN,NaN,NaN
1245,1245,2023,WY,0.517,0.477,0.209775,465.03,40.0,560.0,974.50,...,302.28,NaN,NaN,NaN,465.03,40.00,560.00,NaN,NaN,NaN

In [11]:
nonindexers

,Unnamed: 0,Year,State,Replacement Ratio 1,Replacement Ratio 2,Recipiency Rate,Average WBA,Minimum WBA,Maximum WBA,Average Weekly Wage,...,"Real Maximum WBA (regional, 2000 base)","Real Average WBA (state, 2000 base)","Real Minimum WBA (state, 2000 base)","Real Maximum WBA (state, 2000 base)","Real Average WBA (regional, 2023 base)","Real Minimum WBA (regional, 2023 base)","Real Maximum WBA (regional, 2023 base)","Real Average WBA (state, 2017 base)","Real Minimum WBA (state, 2017 base)","Real Maximum WBA (state, 2017 base)"
0,0,2000,AK,0.308,0.281,0.608800,168.56,44.0,248.0,599.99,...,248.00,168.56,44.0,248.0,312.27,81.51,459.44,256.15,66.86,376.87
1,1,2000,AL,0.434,0.383,0.292086,164.13,45.0,190.0,428.77,...,190.00,164.13,45.0,190.0,290.98,79.78,336.84,239.25,65.60,276.96
3,3,2000,AZ,0.463,0.385,0.205709,176.33,40.0,205.0,458.32,...,205.00,NaN,NaN,NaN,326.67,74.10,379.78,NaN,NaN,NaN
4,4,2000,CA,0.383,0.310,0.409791,163.65,40.0,230.0,528.25,...,230.00,163.65,40.0,230.0,303.18,74.10,426.10,246.90,60.35,347.01
8,8,2000,DE,0.459,0.423,0.397496,238.58,20.0,315.0,563.64,...,315.00,NaN,NaN,NaN,422.97,35.46,558.45,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,1224,2023,NH,0.342,0.278,0.155014,366.89,32.0,427.0,1319.36,...,244.13,NaN,NaN,NaN,366.89,32.00,427.00,NaN,NaN,NaN
1228,1228,2023,NY,0.385,0.302,0.408651,415.08,124.0,504.0,1373.77,...,288.15,NaN,NaN,NaN,415.08,124.00,504.00,NaN,NaN,NaN
1237,1237,2023,TN,0.310,0.272,0.138961,254.39,30.0,275.0,935.38,...,155.12,NaN,NaN,NaN,254.39,30.00,275.00,NaN,NaN,NaN
1240,1240,2023,VA,0.363,0.296,0.132646,346.06,60.0,378.0,1169.34,...,213.21,NaN,NaN,NaN,346.06,60.00,378.00,NaN,NaN,NaN
1243,1243,2023,WI,0.374,0.325,0.287291,342.65,54.0,370.0,1053.13,...,220.23,NaN,NaN,NaN,342.65,54.00,370.00,NaN,NaN,NaN