In [1]:
import pandas as pd

In [28]:
def rr_clean(df):
    df = df.iloc[:-1]
    df = df.rename(columns={' State': 'State', ' Sample': 'Sample', ' Replacement Ratio 1': 'Replacement Ratio 1',
       ' Replacement Ratio 2': 'Replacement Ratio 2', ' Average WBA': 'Average WBA', ' Average Weekly Wage': 'Average Weekly Wage'})
    df = df.loc[:,['Year', 'State', 'Replacement Ratio 1', 'Replacement Ratio 2', 'Average WBA', 'Average Weekly Wage']]
    return df

In [45]:
import glob
import os

path = r"C:\Users\Prophecy Desktop\OneDrive\Documents\GitHub\UI-Inflation\replacement_rates"
all_files = glob.glob(os.path.join(path , "*.csv"))
all_files

li = []

for filename in all_files:
    df = pd.read_csv(filename, delimiter=", ", index_col=None, header=0)
    df = rr_clean(df)
    li.append(df)

rr_wba_wage = pd.concat(li, axis=0, ignore_index=True)

C:\Users\Prophecy Desktop\AppData\Local\Temp\ipykernel_24464\32104322.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename, delimiter=", ", index_col=None, header=0)
C:\Users\Prophecy Desktop\AppData\Local\Temp\ipykernel_24464\32104322.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename, delimiter=", ", index_col=None, header=0)
C:\Users\Prophecy Desktop\AppData\Local\Temp\ipykernel_24464\32104322.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename, delimiter=", ", index_col=None, header=0)
C:\Users\Prophecy Desktop\AppData\Local\Temp\ipykernel_24464\32104322.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename, delimiter=", ", index_col=None, header=0)
C:\Users\Prophecy Desktop\AppData\Local\Temp\ipykernel_24464\32104322.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename, delimiter=", ", index_col=None, header=0)
C:\Users\Prophecy Desktop\AppData\Local\Temp\ipykernel_24464\32104322.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename, delimiter=", ", index_col=None, header=0)
C:\Users\Prophecy Desktop\AppData\Local\Temp\ipykernel_24464\32104322.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename, delimiter=", ", index_col=None, header=0)
C:\Users\Prophecy Desktop\AppData\Local\Temp\ipykernel_24464\32104322.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename, delimiter=", ", index_col=None, header=0)
C:\Users\Prophecy Desktop\AppData\Local\Temp\ipykernel_24464\32104322.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename, delimiter=", ", index_col=None, header=0)
C:\Users\Prophecy Desktop\AppData\Local\Temp\ipykernel_24464\32104322.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename, delimiter=", ", index_col=None, header=0)
C:\Users\Prophecy Desktop\AppData\Local\Temp\ipykernel_24464\32104322.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename, delimiter=", ", index_col=None, header=0)
C:\Users\Prophecy Desktop\AppData\Local\Temp\ipykernel_24464\32104322.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename, delimiter=", ", index_col=None, header=0)
C:\Users\Prophecy Desktop\AppData\Local\Temp\ipykernel_24464\32104322.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename, delimiter=", ", index_col=None, header=0)
C:\Users\Prophecy Desktop\AppData\Local\Temp\ipykernel_24464\32104322.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename, delimiter=", ", index_col=None, header=0)
C:\Users\Prophecy Desktop\AppData\Local\Temp\ipykernel_24464\32104322.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename, delimiter=", ", index_col=None, header=0)
C:\Users\Prophecy Desktop\AppData\Local\Temp\ipykernel_24464\32104322.py:11: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(filename, delimiter=", ", index_col=None, header=0)

In [46]:
rr_wba_wage

,Year,State,Replacement Ratio 1,Replacement Ratio 2,Average WBA,Average Weekly Wage
0,2006,AL,0.429,0.378,$188.80,$499.90
1,2006,AK,0.310,0.269,$183.60,$683.68
2,2006,AZ,0.453,0.330,$211.42,$640.34
3,2006,AR,0.528,0.489,$254.34,$519.87
4,2006,CA,0.504,0.414,$296.48,$716.23
...,...,...,...,...,...,...
1241,2005,GA,0.480,0.385,$249.44,$648.43
1242,2005,HI,0.565,0.489,$348.90,$713.22
1243,2005,ID,0.501,0.398,$242.01,$607.77
1244,2005,IL,0.376,0.330,$247.86,$751.40
1245,2005,IN,0.537,0.499,$294.52,$590.44

In [94]:
len(rr_wba_wage[rr_wba_wage['Year'] == '2001'])

51

In [100]:
rr_wba_wage.to_csv('annual_rr_wba_wage.csv', index=False)